<% if @topic.name == 'Babysitter Pay Rate' %>
<% @message = "Hey neighbor,\n
I thought you'd be interested in this local resource for gathering helpful info for parents. Simple idea - quickly compare yourself against the rest of the community in topics that matter to you.\n
I just tried it out on how much we pay our babysitter. If you\'re interested to see how you stack up, it\'s easy to participate - just give your rate below, then get back an immediate web comparison against other Alexandrians. The more who answer, the better the comparison." %>
<% @email_subject = "Alexandria parenting question" %>
<% elsif @topic.name == 'Mobilizers' %>
<% @message = "Hey neighbor,\n
I thought you'd be interested in this local resource for gathering helpful info for parents. Simple idea - quickly compare yourself against the rest of the community in topics that matter to you.\n
I just tried it out on when to give kids a cell phone. If you\'re interested to see how you stack up, it\'s easy to participate - just give your rate below, then get back an immediate web comparison against other Alexandrians. The more who answer, the better the comparison." %>
<% @email_subject = "Alexandria parenting question" %>
<% elsif @topic.name == 'Homework' %>
<% @message = "Hey neighbor,\n
I thought you'd be interested in this local resource for gathering helpful info for parents. Simple idea - quickly compare yourself against the rest of the community in topics that matter to you.\n
I just tried it out on how much homework our kids have each night. If you\'re interested to see how you stack up, it\'s easy to participate - just give your rate below, then get back an immediate web comparison against other Alexandrians. The more who answer, the better the comparison." %>
<% @email_subject = "Alexandria parenting question" %>
<% end %>

<div class="email_preview">
<%= form_tag "/share_with_neighbor" do -%>
<table>
  <tr class="plain">
	<td class="plain" style="text-align: right;"><label for="contact_email">To:</label></td>
	<td class="plain">
		<%= text_field "contact", "email", :size => "50", :style => "color:lightgray",
		:value => "neighbor@example.com", :id => "prefill",
		:onclick => "this.value='';this.style.color = 'black'" %></td>
  </tr>
  <tr class="plain">
	<td class="plain" style="text-align: right;"><label for="contact_subject">Subject:</label></td>
	<td class="plain"><%= text_field "contact", "email_subject", :size => "50", :value => @email_subject %></td>
  </tr>
	<tr class="plain">
	<td class="plain top_right"><label for="comment_body">Message:</label></td>
	<td class="plain"><%= text_area "contact", "message", :size => "30x8", :value => @message %>
		<div class="inactive text-75">followed by this question...</div>
		<div class="field">
		<label for="response_value"><%= @topic.question %></label><br />
		<% if @topic.name == "Babysitter Pay Rate" %>
		<span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
		<% elsif @topic.name == "Mobilizers" %>
		<span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> years old
		<% elsif @topic.name == "Homework" %>
		<span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> hour(s) per night
		<% end %>
		</div>
	</td>
  </tr>
  <tr class="plain">
	<td class="plain"></td>
	<td class="plain"><br/><input type="submit" value="Share with Neighbor" class="form_button round" /></td>
  </tr>
</table>

<% end -%>

</div>