<% if @topic.name == 'Babysitter Pay Rate' %>
<% @message = "Hey neighbor,\n
When we're shelling out dough for babysitters, I\'m always wondering if we\'re overpaying, scrimping or getting it just right.  But local comparison info that might help me right-size our wage scale is scarce. So I\'m experimenting with an easy way to gather helpful comparison info on this and other parenting topics.\n
If you\'re interested to see how you stack up, it\'s super simple to participate - just give your rate below, then get back an immediate web comparison against other Alexandrians." %>
<% @email_subject = "Alexandria parenting question" %>
<% elsif @topic.name == 'Mobilizers' %>
<% @message = "Hey neighbor,\n
As our kids are already growing up so fast, I\'m wondering when the right time is to let my child jump into the mobile world.  But local comparison info that might help me right-size our wage scale is scarce. So I\'m experimenting with an easy way to gather helpful comparison info on this and other parenting topics.\n
If you\'re interested to see how you stack up, it\'s super simple to participate - just give the age below, then get back an immediate web comparison against other Alexandrians." %>
<% @email_subject = "Alexandria parenting question" %>
<% elsif @topic.name == 'Homework' %>
<% @message = "Hey neighbor,\n
If your house is anything like mine, homework is always a topic of conversation, and we wonder how our child\'s average homework load compares with other Alexandrians. But local comparison info that might help us is scarce. So I\'m experimenting with an easy way to gather helpful comparison info on this and other parenting topics.\n
If you\'re interested to see how you stack up, it\'s super simple to participate - just give your average homework load for one of your kids below, then get back an immediate web comparison against other Alexandrians." %>
<% @email_subject = "Alexandria parenting question" %>
<% end %>

<div class="email_preview">
<h1>Email Preview</h1>
<br/>
<%= form_tag "/share_with_neighbor" do -%>
<table>
  <tr class="plain">
	<td class="plain" style="text-align: right;"><label for="contact_email">To:</label></td>
	<td class="plain"><%= text_field "contact", "email", :size => "50", :value => session[:to_email] %></td>
  </tr>
  <tr class="plain">
	<td class="plain" style="text-align: right;"><label for="contact_subject">Subject:</label></td>
	<td class="plain"><%= text_field "contact", "email_subject", :size => "50", :value => @email_subject %></td>
  </tr>
	<tr class="plain">
	<td class="plain top_right"><label for="comment_body">Message:</label></td>
	<td class="plain"><%= text_area "contact", "message", :size => "8x30", :value => @message %>
		<div class="inactive text-75">(the following question will be included at the bottom of the email)</div>
		<div class="field">
		<label for="response_value"><%= @topic.question %></label><br />
		<% if @topic.name == "Babysitter Pay Rate" %>
		<span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
		<% elsif @topic.name == "Mobilizers" %>
		<span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> years old
		<% elsif @topic.name == "Homework" %>
		<span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> hour(s) per night
		<% end %>
		</div>
	</td>
  </tr>
  <tr class="plain">
	<td class="plain"></td>
	<td class="plain"><br/><input type="submit" value="Share with Neighbor" class="form_button round" /></td>
  </tr>
</table>

<% end -%>

</div>