<%= render 'layouts/hc_script' %>

<div class="comparison">Comparison  |  You spend <span class="em"><%= @percent_diff %></span> than your lowest spending neighbors</div>

<table>
  <tr>
	<td>
	  <div id="hc" class="hc"></div>
	</td>
	<td>
	  <%= render 'layouts/inset' %>
	</td>
  </tr>
</table>

<div id="legend" class="legend"><%= render 'layouts/legend' %></div>

<div id="action_steps" class="action_steps round"><%= render 'layouts/action_steps' %></div>

<div id="share" class="share round">
<div class="share_header">Share with Friends!</div>
<em>Want to see how you stack up against others you know?</em><br/>
<%= form_tag "/send_stack_form" do -%>
<table class="share_form">
  <tr>
	<td class="share_labels">
	  <label for="email">Send To:</label><br/>
	  <label for="from_email">From:</label>
	</td>
	<td class="share_fields">
	  <%= text_field "contact", "email", :size => 40 %><br/>
	  <%= text_field "contact", "from_email", :size => 40, :value => session[:from_email] %>
	</td>
  </tr>
</table>
<input type="submit" value="Share with a Friend" class="share_button" />
<% end -%>

<!-- <div class="disclaimer">
We promise to only use this email for sharing this question!
</div> -->
</div>