<%= render 'layouts/hc_script' %>

<div class="above_the_fold">

<div class="comparison">Comparison  |  You spend <span class="em"><%= @percent_diff %></span> than your lowest spending neighbors</div>

<table>
  <tr>
	<td>
	  <div id="hc" class="hc"></div>
	</td>
	<td>
	  <%= render 'layouts/inset' %>
	</td>
  </tr>
</table>

<div id="legend" class="legend"><%= render 'layouts/legend' %></div>

</div> <!-- above_the_fold -->

<div id="action_steps" class="action_steps round shadow"><%= render 'layouts/action_steps' %></div>

<div class="below_the_fold round_bottom">
	
<div id="share" class="share round_top"><%= render 'layouts/share_stack' %></div>

</div>