<%= render 'layouts/hc_script' %>

<table class="stk_table">
  <tr>
	<td class="stk_col_left shadowlight">
	  <%= render 'layouts/tip_progress' %>
	  <div id="hc" class="hc"></div>
	  <%= render 'layouts/stk_headline' %>
	  <table class="comparison_box"><tr><td>
	  <div class="comparison-1 round"><%=raw @comparison_text %></div>
	  <div class="comparison-2 round"><%=raw @diff_text %></div>
	  </td></tr></table>
	  <div id="legend" class="legend"><%= render 'layouts/legend' %></div>
	</td>
	<td class="stk_col_right">
	  <div class="stk_col_right_section"><%= render 'layouts/share_stack' %></div>
	  <div class="stk_col_right_section"><%= render 'layouts/suggest_stacks' %></div>
	  <div class="stk_col_right_section"><%= render 'shared/view_stacks' %></div>
	</td>
  </tr>
</table>
