<%= render 'layouts/hc_script' %>

<table class="stk_table">
  <tr>
	<td class="stk_col_left">
	  <%= render 'layouts/stk_headline' %>
	  <div id="hc" class="hc centered"></div>
	  <div class="comparison round"><%=raw @comparison_text %></div>
	  <div class="comparison round"><%=raw @diff_text %></div>
	  <div id="legend" class="legend"><%= render 'layouts/legend' %></div>
	</td>
	<td class="stk_col_right">
	  <div class="stk_col_right_section"><%= render 'layouts/share_stack' %></div>
	  <div class="stk_col_right_section"><%= render 'layouts/suggest_stacks' %></div>
	  <div class="stk_col_right_section"><%= render 'layouts/view_stacks' %></div>
	</td>
  </tr>
</table>
