<%= render 'layouts/hc_script' %>

<%= render 'shared/breadcrumbs' %>
<table class="stk_table">
  <tr>
	<td class="stk_col_left shadowlight">
	  <!--[if IE]><div class="ie_align_top"></div><![endif]-->
	  <%= render 'layouts/tip_progress' %>
	  <div id="hc" class="hc"></div>
	  <%= render 'layouts/how_you_stack_up' %>
	  <table class="comparison_box"><tr><td>
	  <div class="comparison-1 round"><%=raw @comparison_text %></div>
	  <div class="comparison-2 round"><%=raw @diff_text %></div>
	  </td></tr></table>
	  <%= render 'layouts/action_steps' %>
	  <div id="legend" class="legend"><%= render 'layouts/legend' %></div>
	</td>
	<td class="stk_col_right">
	  <div class="stk_col_right_section greyfade"><%= render 'layouts/share_stack' %></div>
	  <div class="stk_col_right_section greyfade"><%= render 'shared/view_stacks' %></div>
	  <div class="stk_col_right_section greyfade"><%= render 'layouts/feedback' %></div>
	</td>
  </tr>
</table>
