<nav class="round">
<!-- <ul>
  <li><%= link_to image_tag("/images/nav_about.png", :name => "about"), "#about",
							:rel => "facebox",
							:onmouseover => "document.about.src='/images/nav_about_hover.png';",						
							:onmouseout => "document.about.src='/images/nav_about.png';"%></li>
  <li><%= link_to image_tag("/images/nav_stacks.png", :name => "stacks"), "#stacks",
							:rel => "facebox",
							:onmouseover => "document.stacks.src='/images/nav_stacks_hover.png';",						
							:onmouseout => "document.stacks.src='/images/nav_stacks.png';"%></li>
  <li><%= link_to image_tag("/images/nav_comments.png", :name => "comments"), "#comments",
							:rel => "facebox",
							:onmouseover => "document.comments.src='/images/nav_comments_hover.png';",						
							:onmouseout => "document.comments.src='/images/nav_comments.png';"%></li>
</ul> -->
<ul>
<li><%= link_to image_tag("/images/login_stkup.png", :name => "stkup_login"), "#coming_soon",
							:rel => "facebox",
							:onmouseover => "document.stkup_login.src='/images/login_stkup_hover.png';",						
							:onmouseout => "document.stkup_login.src='/images/login_stkup.png';"%></li>
<li><%= link_to image_tag("/images/login_fb.png", :name => "fb_login"), "#coming_soon",
							:rel => "facebox",
							:onmouseover => "document.fb_login.src='/images/login_fb_hover.png';",						
							:onmouseout => "document.fb_login.src='/images/login_fb.png';"%></li>
</ul>
</nav>

<div id="coming_soon" style="display:none;">
Coming soon!
</div>