<div class="mad-libs">
<%= form_for(@response) do |f| %>
<%= f.hidden_field :email, :value => @email %>
<%= f.hidden_field :neighborhood, :value => @neighborhood %>
<table class="mad_libs_table">
  <tr>
    <td style="vertical-align:top"><div class="begin-quote">&#8220;</div></td>
    <td class="madlibs-content round greyfade">
    <%=raw @mad_libs_intro %>
    <label>
		<%= f.text_field :value, :size => 2, :value => "#{@response_value}", :class => "fill_in_the_blank" %>
		<span><%= @mad_libs_label %></span>
    </label>
    <%= @mad_libs_units %>
	<% if @ask_location %>
	, and I live in&nbsp;
    <label class="label_select">
		<select name="response[neighborhood]">
			<option value="Arlandria" <%= @neighborhood == "Arlandria" ? 'selected="selected"' : nil %> >Arlandria</option>
			<option value="Del Ray" <%= @neighborhood == "Del Ray" ? 'selected="selected"' : nil %> >Del Ray</option>
			<option value="North Ridge" <%= @neighborhood == "North Ridge" ? 'selected="selected"' : nil %> >North Ridge</option>
			<option value="Old Town" <%= @neighborhood == "Old Town" ? 'selected="selected"' : nil %> >Old Town</option>
			<option value="Rosemont" <%= @neighborhood == "Rosemont" ? 'selected="selected"' : nil %> >Rosemont</option>
			<option value="The Berg" <%= @neighborhood == "The Berg" ? 'selected="selected"' : nil %> >The Berg</option>
			<option value="West End" <%= @neighborhood == "West End" ? 'selected="selected"' : nil %> >West End</option>
			<option value="Other" <%= @neighborhood == "Other" ? 'selected="selected"' : nil %> >Other</option>
		</select>
    </label>
	<% end %>
	.
    </td>
    <td style="vertical-align:bottom"><div class="end-quote">&#8221;</div></td>
  </tr>
</table>
<%= f.submit "Stack Me Up", :class => "submit_button round" %>
<br/>
<% if @ask_location %>
<div class="centered text-75"><a href="#not_alexandria" rel="facebox">Is StkUp available for my community?</a></div>
<% end %>

<div id="not_alexandria" style="display:none;">
StkUp is currently available for Alexandria, Virginia<br/>
only. If you'd like us to expand, send us a comment!
</div>

</div>
<% end %>
