<% topic = Topic.find_by_id(response.topic_id) %>
<tr>
  <td><%= response.id %></td>
  <td><%= topic.nil? ? "" : topic.name %></td>
  <td><%= response.value %></td>
  <td><%= response.email %></td>
  <td><%= response.neighborhood %></td>
  <td><%= response.qualifier1 %></td>
  <td><%= time_ago_in_words(response.created_at) %> ago</td>
  <td><%= time_ago_in_words(response.updated_at) %> ago</td>
</tr>