<script type="text/javascript">
// validates that the field value string has one or more characters in it
function isNotEmpty(elem) {
  var str = elem.value;
    var re = /.+/;
    if(!str.match(re)) {
        alert(elem.name + " cannot be blank.");
        setTimeout("focusElement('" + elem.form.name + "', '" + elem.name + "')", 0);
        return false;
    } else {
        return true;
    }
}

// batch validation router
function validateForm(form) {
    if (isNotEmpty(form.suggestion_topic)) {
		return true;
    }
    return false;
}

</script>

<div class="stk_col_right_header">Request a Stack</div>

<%= form_tag "/stack_request" do -%>
<%= text_area "request", "message",
	:class => "stack_request",
	:style => "color:lightgray",
	:value => "List topics (fitness, health, finances, ...) you'd like to see comparisons on (how much, how many, at what time)...",
	:onfocus => "if (this.value.substring(0, 11) == 'List topics') {this.value='';this.style.color = 'black'}" %>
Your email: <%= text_field "request", "from_email", :size => "20", :style => "color:lightgray",
		:value => session[:email],
		:onfocus => "this.style.color = 'black'" %>

<br/>
<div><%= check_box "request", "opt_in" %> Add me to the StkUp mailing list</div>
<input type="submit" value="Send Stack Request" class="form_button round" />
<% end -%>
</div>


<!-- <span>List topics (fitness, health, finances, etc.) you'd like to see comparisons on (how much, how many, at what time, etc):</span><br/>
<%= form_tag "/suggestion", :onsubmit => "return validateForm(this)" do -%>
<%= text_area "suggestion", "topic", :class => "suggestion_topics" %><br/>
<span class="de-em text-75">Enter your email and we'll also notify you of any new stacks:</span>
<%= text_field "suggestion", "email",
	:value => session[:email],
	:class => "suggestion_email",
	:onclick => "this.style.color = 'black'" %>
<input type="submit" value="Suggest a Stack" style="margin-top: 10px" class="form_button round" />
<% end -%> -->
