<div class="inset_title">How You Stack Up</div>
<div class="inset round">
  <table>
	<tr class="plain">
	  <td class="plain"><%= @user_rank == "lowest" ? "You >" : "" %></td>
	  <td class="plain border_left">Lowest</td>
	  <td class="plain">$</td>
	  <td class="plain"><% if @user_rank == "lowest" %>
		<img src="/images/smiley_1.png" height="25">
		<% end %></td>
	</tr>	
	<tr class="plain">
	  <td class="plain"><%= @user_rank == "average" ? "You >" : "" %></td>
	  <td class="plain border_left">Average</td>
	  <td class="plain">$$</td>
	  <td class="plain"><% if @user_rank == "average" %>
		<img src="/images/smiley_2.png" height="25">
		<% end %></td>
	</tr>
	<tr class="plain">
	  <td class="plain"><%= @user_rank == "more than most" ? "You >" : "" %></td>
	  <td class="plain border_left">More&nbsp;Than&nbsp;Most</td>
	  <td class="plain">$$$</td>
	  <td class="plain"><% if @user_rank == "more than most" %>
		<img src="/images/smiley_3.png" height="25">
		<% end %></td>
	</tr>
	<tr class="plain">
	  <td class="plain"><%= @user_rank == "biggest" ? "You >" : "" %></td>
	  <td class="plain border_left">Big Spend</td>
	  <td class="plain">$$$$</td>
	  <td class="plain"><% if @user_rank == "biggest" %>
		<img src="/images/smiley_4.png" height="25">
		<% end %></td>
	</tr>
  </table>
</div>

<% @dollar_diff_amt = number_to_currency(@dollar_diff_amt, :strip_insignificant_zeros => true) %>
<div class="assessment_inset round">
With four 5 hours sits per month, this costs you <span class="em"><%= @dollar_diff_amt %></span> per year <img src="/images/bang.gif", height="18">
</div>