<% if @topic.name == "Babysitter Pay Rate" %>
<div class="new_response_question">($ per hour)</div>
<div class="stk_buttons">
<ul>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="$5" src="http://parenting-mvp.heroku.com/images/buttons/curr_5_dollars.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=5").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="$10" src="http://parenting-mvp.heroku.com/images/buttons/curr_10_dollars.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=10").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="$15" src="http://parenting-mvp.heroku.com/images/buttons/curr_15_dollars.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=15").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="$20" src="http://parenting-mvp.heroku.com/images/buttons/curr_20_dollars.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=20").html_safe %></li>
</ul>
</div>
<br/>

<% elsif @topic.name == "Mobilizers" %>

<div class="stk_buttons">
<ul>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="8" src="http://parenting-mvp.heroku.com/images/buttons/nbr_8.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=8").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="9" src="http://parenting-mvp.heroku.com/images/buttons/nbr_9.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=9").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="10" src="http://parenting-mvp.heroku.com/images/buttons/nbr_10.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=10").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="11" src="http://parenting-mvp.heroku.com/images/buttons/nbr_11.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=11").html_safe %></li>
</ul>
<ul>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="12" src="http://parenting-mvp.heroku.com/images/buttons/nbr_12.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=12").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="13" src="http://parenting-mvp.heroku.com/images/buttons/nbr_13.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=13").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="14" src="http://parenting-mvp.heroku.com/images/buttons/nbr_14.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=14").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="15" src="http://parenting-mvp.heroku.com/images/buttons/nbr_15.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=15").html_safe %></li>
</ul>
</div>
<br/>

<% elsif @topic.name == "Homework" %>

<div class="stk_buttons">
<ul>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="30m" src="http://parenting-mvp.heroku.com/images/buttons/time_30m.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=0.5").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="1h" src="http://parenting-mvp.heroku.com/images/buttons/time_1h.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=1").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="1h30m" src="http://parenting-mvp.heroku.com/images/buttons/time_1h30m.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=1.5").html_safe %></li>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="2h" src="http://parenting-mvp.heroku.com/images/buttons/time_2h.png">'.html_safe,
		(@base_url + "?response[email]=" + @email + "&response[value]=2").html_safe %></li>
</ul>
<br/>

<% end %>

<% if !@form_capable %>
Or <a href="<%= "http://parenting-mvp.heroku.com/topics/" + @topic.id.to_s + "/responses/new" %>">answer the question on the StkUp website</a>.
<% end %>
