<!DOCTYPE html>
<html>
<head>
  <title>StkUp MVP</title>
  <%= render 'layouts/js' %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div class="container">
	<section class="round">
      <%= render 'layouts/header' %>
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
	  <%= yield %>
	</section>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
